
.DS_Store
config_citation.py
result.txt
saved_features.txt
.vscode/settings.json
__pycache__/arg_parser.cpython-37.pyc
__pycache__/config_citation.cpython-37.pyc
__pycache__/config_nell.cpython-37.pyc
gcn/__pycache__/__init__.cpython-37.pyc
gcn/__pycache__/graphconv.cpython-37.pyc
gcn/__pycache__/inits.cpython-37.pyc
gcn/__pycache__/layers.cpython-37.pyc
gcn/__pycache__/lp.cpython-37.pyc
gcn/__pycache__/metrics.cpython-37.pyc
gcn/__pycache__/models.cpython-37.pyc
gcn/__pycache__/utils.cpython-37.pyc
